- var tplPath = "./"
- var imgPath = tplPath + "img"
doctype
html(lang="ru")
	head
		title Test from Ukit
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='./build.css')
		
	body
		main.content
			include ./modules/menu
			include ./modules/about
			include ./modules/buttons
			include ./modules/form
			
