section#about
	.container
		h1 О себе
		.text
			p.
				Всем привет! Я молодой frontend разработчик. Программирование для меня
				не просто средство заработка, а хобби и увлечение
			p.
				На данный момент я хорошо разбираюсь в верстке. В дальнейшем хочу развиваться
				в сторону JS разработчик. Также я сейчас очень интересуюсь разраобткой под IOS.
			p.
				Сейчас я хорошо владею: SASS, LESS, Stylus, CSS, JADE, HTML, JS, JQuery,
				Coffee-script, Browserify, npm, Bower, Gulp, Git.
			p.
				С интересом осваиваю новые технологии. Надеюсь я подойду для вайшей компании,
				потому что вижу в ней свое развитие как специалиста.
				
		img(src="#{imgPath}/myimg.jpg")
