section#buttons
	.container
		h1 Кнопка на все случаи жизни
		input.btn(type="submit" value="input")
		button.btn button
		a.btn(href="#") a
		span.btn span
		
		.btn-group
			button.btn button
			a.btn(href="#") a
			span.btn span
		
		article
			p.
				Из-за этого получается, что в
				#[button.btn Mac OS X]
				контент в окнах будет следовать за движением 
			p.
				пальца (т.е. reverse scrolling), а в Windows вы будете двигать ползунок 
				на экране, а сам контент будет ехать в другую сторону.
