section#buttons
	.container
		h1 Кнопка на все случаи жизни
		input.btn(type="submit" value="input")
		button.btn button
		a.btn(href="#") a
		span.btn span
		
		.btn-group
			button.btn button
			a.btn(href="#") a
			span.btn span
