section#form
	.container
		h1 Форма
		
		.sign-in
			.wrap
				p.title Регистрация
				.buttons
					.containView
						button.btn Регистрация из Вконтакте 
						button.btn Регистрация из Facebook
						button.btn Регистрация из Google Plus
						button.btn Регистрация из #[span Яндекс]
					
					a.toggleButton(href="#show")
						span Другие
						i.fa.fa-angle-down
				p или
				form
					.form-text
						input(type="text" name="login" placeholder="Ваш логин или E-mail")
						input(type="password" name="pass" placeholder="Пароль")
					.row
						.column
							input(id="save" type="checkbox" name="save")
							label(for="save") Запомнить меня
						.column
							a(href="#") Забыли пароль?
					input.btn(type="submit" value="Зарегистрироваться")
