section#form
	.container
		h1 Форма
		
		.sign-in
			.buttons
				button.btn Регистрация из Вконтакте 
				button.btn Регистрация из Facebook
				button.btn Регистрация из Google Plus
				button.btn Регистрация из Яндекс
				
				a(href="#show") Другие
			p или
			form
				input(type="text" name="login" placeholder="Ваш логин или E-mail")
				input(type="password" name="pass" placeholder="Пароль")
				.form-group
					input(id="save" type="checkbox" name="save")
					label(for="save") Запомнить меня
					a(href="#") Забыли пароль?
				input(type="submit" value="Зарегистрироваться")
