nav
	ul
		li: a(href="#about") О себе
		li: a(href="#button") Кнопка-на-все-случаи-жизни
		li: a(href="#forms") Форма
		li: a(href="#tooltip") Всплывающая подсказка
		li: a(href="#indicator") Индикатор загрузки
