nav
	h1 Меню
	button.show-menu(title="меню")
		i.fa.fa-bars
	ul
		li: a(href="#about") О себе
		li: a(href="#buttons") Кнопка-на-все-случаи-жизни
		li: a(href="#form") Форма
		li: a(href="#tooltip") Всплывающая подсказка
		li: a(href="#preloader") Индикатор загрузки
